In [35]:
import numpy as np
import pandas as pd

In [36]:
data = pd.read_excel('veriler.xlsx')

In [37]:
data.head()

        Date   High    Low   Open  Close      Volume  Adj Close
0 2014-09-16  468.2  452.4  465.9  457.3  21056800.0      457.3
1 2014-09-17  456.9  413.1  456.9  424.4  34483200.0      424.4
2 2014-09-18  427.8  384.5  424.1  394.8  37919700.0      394.8
3 2014-09-19  423.3  389.9  394.7  408.9  36863600.0      408.9
4 2014-09-20  412.4  393.2  408.1  398.8  26580100.0      398.8

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2296 non-null   datetime64[ns]
 1   High       2296 non-null   float64
 2   Low        2296 non-null   float64
 3   Open       2296 non-null   float64
 4   Close      2296 non-null   float64
 5   Volume     2296 non-null   float64
 6   Adj Close  2296 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 125.7 KB

In [39]:
data.isnull().values.any()

False

In [40]:
data.corr()

               High       Low      Open     Close    Volume  Adj Close
High       1.000000  0.998141  0.998965  0.999163  0.756691   0.999163
Low        0.998141  1.000000  0.998580  0.998975  0.756778   0.998975
Open       0.998965  0.998580  1.000000  0.998012  0.755604   0.998012
Close      0.999163  0.998975  0.998012  1.000000  0.756336   1.000000
Volume     0.756691  0.756778  0.755604  0.756336  1.000000   0.756336
Adj Close  0.999163  0.998975  0.998012  1.000000  0.756336   1.000000

In [41]:
data.describe()

,High,Low,Open,Close,Volume,Adj Close
count,2296.000000,2296.000000,2296.000000,2296.000000,2.296000e+03,2296.000000
mean,5061.491028,4807.296211,4934.266159,4947.936411,9.108686e+09,4947.936411
std,5007.874318,4719.763205,4857.460003,4889.611586,1.285475e+10,4889.611586
min,211.700000,171.500000,176.900000,178.100000,5.914570e+06,178.100000
25%,450.475000,438.950000,444.925000,444.700000,6.217712e+07,444.700000
50%,3953.250000,3821.450000,3889.600000,3895.250000,3.195640e+09,3895.250000
75%,8625.375000,8187.125000,8382.475000,8409.625000,1.551515e+10,8409.625000
max,33155.100000,29091.200000,29376.500000,32127.300000,7.415677e+10,32127.300000

the history section does not usefull for this project.

In [42]:
new_data = data.drop(['Date'], axis = 1)

If we convert the data between 0 and 1, it will find results faster in machine learning.

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
scaler = MinMaxScaler()

In [45]:
sc_data = scaler.fit_transform(new_data)

In [48]:
sc_data = pd.DataFrame(sc_data, columns=new_data.columns)

In [49]:
sc_data.head()

       High       Low      Open     Close    Volume  Adj Close
0  0.007786  0.009713  0.009897  0.008739  0.000204   0.008739
1  0.007443  0.008354  0.009589  0.007709  0.000385   0.007709
2  0.006560  0.007365  0.008466  0.006783  0.000432   0.006783
3  0.006423  0.007552  0.007459  0.007224  0.000417   0.007224
4  0.006092  0.007666  0.007918  0.006908  0.000279   0.006908

In [58]:
y = sc_data["Close"]

In [59]:
X = sc_data.drop(["Close"], axis=1).astype('float64')

In [60]:
X.head()

       High       Low      Open    Volume  Adj Close
0  0.007786  0.009713  0.009897  0.000204   0.008739
1  0.007443  0.008354  0.009589  0.000385   0.007709
2  0.006560  0.007365  0.008466  0.000432   0.006783
3  0.006423  0.007552  0.007459  0.000417   0.007224
4  0.006092  0.007666  0.007918  0.000279   0.006908

In [61]:
y.head()

0    0.008739
1    0.007709
2    0.006783
3    0.007224
4    0.006908
Name: Close, dtype: float64

In [62]:
X = pd.DataFrame(X)
y = pd.DataFrame(Y)

## Library to be used

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.model_selection import GridSearchCV

In [66]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state= 0)

## KNN Regression

In [80]:
knn = KNeighborsRegressor()

In [81]:
knn_model = knn.fit(X_train, y_train)

In [82]:
knn_params = {"n_neighbors": np.arange(1,50)}
grid = GridSearchCV(knn, knn_params, cv= 5)
grid.fit(X, y)

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [83]:
print("grid.best_score_:",grid.best_score_)
print("grid.best_estimator_:",grid.best_estimator_.n_neighbors)

grid.best_score_: 0.41885917385157023
grid.best_estimator_: 1

In [84]:
knn_model2 = KNeighborsRegressor(n_neighbors=1)
knn = knn_model2.fit(X_train, y_train)
knn_pred = knn.predict(X_test)

In [85]:
scores = cross_val_score(knn_model2,X_train,y_train, cv=5)
print(f'R-squared score for knn training: {scores.mean()}')

R-squared score for knn training: 0.9979474823816539

In [86]:
scores2 = cross_val_score(knn_model2,y_test,knn_pred,cv=5)
print(f'R-squared score for knn testing: {scores2.mean()}')

R-squared score for knn testing: 0.9967642190556054

In [87]:
knn_mse_value = mean_squared_error(y_test,y_pred)
print(f'mse score for knn: {knn_mse_value}')

mse score for knn: 1.5092807875916946e-32